iframe {
  display: none;
}

body {
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
}

.notification {
  transition-property: opacity, min-height;
  transition-duration: 1s;
  min-height: 36px;
}

.notification.hidden {
  min-height: 0;
  opacity: 0;
  pointer-events: none;
}

.black-button {
  cursor: pointer;
  background-color: #000;
  border-radius: 10px;
  color: #fff;
  padding: 20px 10px;
  transition: background-color 0.3s;
  font-weight: bold;

  &:hover {
    background-color: #333;
  }

  &:active {
    background-color: #666;
    border-color: transparent;
  }

  &:disabled {
    background-color: #666;
    border-color: transparent;
  }
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

@import "./todoapp";
@import "./todo";
@import "./filter";
@import "./item.scss";
